<ion-view view-title="Contact us" ng-controller="ContactUsCtrl">
    <ion-content>
        <div class="container">

        <p style="display:none">{{page.title="Contact us"}}</p>

        <div class="row nospace1">
                            <div class="col-sm-12 col-xs-12  nospace1">
                <div class="card-new1 effectn2 newfont1 lcolor1">Frequently Asked Questions may have the answer to your question. If you have not already checked there first, please click here.</div>
                <h4 class="title mtop10">Contact By Email</h4>
                <div id="main">
                    <button class="btn-wav1 btn-color ripplelink space-new" ng-click="onclickSubmitClick('https://mobileapp.sunpass.com/vector/vurl/mobileapp/account/home/contactUs.do?from=Home&locale=en_US')"><span class="inline-font">Click here to submit a request</span></button>
                </div>
				 
                <div id="main">
                    <button class="btn-wav1 btn-color ripplelink space-new" ng-click="onclickSubmitClick('https://mobileapp.sunpass.com/en/routers/vinquire.html')"><span class="inline-font">View Previous Inquiries</span></button>
                </div>
                <h4 class="title mtop10">Contact By Phone</h4>
                <div id="main">
                    <button class="btn-wav1 btn-color btn-icon  ripplelink space-new" ng-click="redirect()"><span class="inline-font">Click to call 1-888-865-5352</span> </button>
                </div>
                <div class="card-new1 effectn2 newfont1 lcolor2">In the U.S. and Canada:<br/>1-888-TOLL FLA (1-888-865-5352)<br/>FAX: 1-888-265-1725 (except Canada)<br/>FAX: 1-561-470-669<br/>Monday to Friday, 7.00AM -7.00PM<br/>Saturday, 8.30AM – 5.00PM</div>
                <div class="card-new1 effectn2 lcolor3">
                    <h2 class="title">Customer Service Centers<br></h2>
					<br>
					<h4 class="title mtop10">OCOEE WALK-IN CENTER</h4>
					<span class="newfont1">Address: 9405 W. Colonial Drive, Ocoee, FL 34761<br></span>
					<span class="newfont1">Hours: Monday to Friday, 8:00AM-6:00PM <br>Saturday, 10:00AM-6:00PM <br> Sunday,  10:00AM-5:00PM<br></span>
					<br>
					<h4 class="title mtop10">TAMPA WALK-IN CENTER</h4>
					<span class="newfont1">Address: 10137 E. Adamo Drive, Suite 800A, Tampa, FL 33619<br></span>
					<span class="newfont1">Hours: Open Monday to Friday, 8:00AM-6:00PM<br></span>
					<br>
					<h4 class="title mtop10">MIAMI WALK-IN CENTER</h4>
					<span class="newfont1">Address: 7902 NW 36th Street, Unit 203, Doral, FL 33166<br></span>
					<span class="newfont1">Hours: Open Monday to Friday, 8:00AM-6:00PM<br></span>
					<br>
					<h4 class="title mtop10">BOCA RATON WALK-IN CENTER</h4>
					<span class="newfont1">Address: 7941 W. Glades Road, Boca Raton, FL 33434<br></span>
					<span class="newfont1">Hours: Open Monday to Friday, 8:00AM-6:00PM. Closed Sat/Sun.<br>Holidays: Closed on major holidays<br></span>
					<br>
					<h4 class="title mtop10">SNAPPER CREEK SERVICE PLAZA</h4>
					<span class="newfont1">Address: Milepost 19, Florida Turnpike, Miami, FL 33186<br></span>
					<span class="newfont1">Hours: Open Monday to Friday, 8:00AM-6:00PM. Closed Sat/Sun.<br>Holidays: Closed on major holidays<br></span>
					<br>
					<h4 class="title mtop10">BAYWAY-PINELLAS TOLL PLAZA</h4>
					<span class="newfont1">Address: 4501 54th Avenue S,<br>St. Petersburg, FL 33711<br></span>
					<span class="newfont1">Hours: Open Monday, 8:00AM-6:00PM <br>Tuesday to Friday, 8:00AM-4:30PM. Closed Sat/Sun.<br>Holidays: Closed on major holidays<br></span>
					<br>
					<h4 class="title mtop10">MID-BAY BRIDGE</h4>
					<span class="newfont1">Address: 1200 White Point Road, Niceville, FL 32578<br></span>
					<span class="newfont1">Hours: Open Monday to Friday, 9:00AM-4:00PM. Closed Sat/Sun.<br>Holidays: Closed on major holidays<br></span>
					<br>
					<h4 class="title mtop10">GARCON POINT BRIDGE</h4>
					<span class="newfont1">Address: 555 Avalon Boulevard, Milton, FL 32571<br></span>
					<span class="newfont1">Hours: Open Monday to Friday, 9:00AM-4:00PM. Closed Sat/Sun.<br>Holidays: Closed on major holidays<br></span>
                </div>
				 <div class="card-new1 effectn2 lcolor3">
                    <h2 class="title">Mailing Addresses</h2><br>
					<h4 class="title mtop10">SunPass Replenishments and Invoice Payments</h4>
					<span class="newfont1">Florida Department of Transportation/SunPass<br>P.O. Box 71237<br>Charlotte, NC 28272-1237<br></span><br>
					<h4 class="title mtop10">General Customer Correspondence & Enrollment</h4>
					<span class="newfont1">Florida Department of Transportation/SunPass<br>P.O. Box 447<br>Ocoee, FL 34761<br></span><br>
					<h4 class="title mtop10">Uniform Traffic Citations</h4>
					<span class="newfont1">Florida Department of Transportation/SunPass<br>P.O. Box 447<br>Ocoee, FL 34761<br></span><br>
					
				</div>
            </div>
        </div>
        </div>            
    </ion-content>
</ion-view>
