<ion-view view-title="News & Events" ng-controller="NewsAndMediaCtrl">
    
    <ion-content>
        
        <p style="display:none">{{page.title="News and Events"}}</p>
        <p class="noalert-message" ng-hide="newsAlertList.length">No News or events currently available</p>

        
		
		<div class="news-cont-block"  ng-repeat="newsAlert in newsAlertList | orderBy:'messageId'"" ng-click="goToNewsAlertDetail(newsAlert)">
            <div class="news-alert-li news-alert-right-arrow">
                <div class="news-content-inner-block" ng-bind-html="newsAlert.message"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
