<ion-view view-title="Purchase Transponder" ng-controller="PurchasetransponderCtrl">
    <ion-content>
       <p style="display:none">{{page.title="Purchase Transponder"}}</p>
        <div class="container">
		 <div class="col-xs-12 mTop20 card-new2 effectn2 lcolor2">
		  <div class="row">
                <div class="col-sm-12 mTop10">
                    <h3>Private Account</h3>
                </div>
            </div>
			
			<div class="row">
                <div class="col-sm-12 mTop10">
                  <h4>I'm a new customer</h4>
                </div>
            </div>
            <div class="row nospace">
                <div class="col-sm-12 col-xs-12 newspace">
                    <button href="#" class="button  special text-center ripplelink4 mTop10" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/acknowledge.shtml?acttype=private&link=true&index=0')">Click to Sign Up</button>
                </div>
	
            </div>
           
		   
		    <div class="row nospace">
               
               <p class="text-info mTop10">If you have started an application before and have a reference number
				 <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/vector/vurl/mobileapp/account/signup/RetrievalSignUp.do')"><b>Click here</b></a> to Apply</p>
				 
			  </div>
			<div class="row">
                <div class="col-sm-12 mTop10">
                  <h4>I'm an existing customer</h4>
                </div>
            </div>
            <div class="row nospace">
                <div class="col-sm-12 col-xs-12 newspace">
                     <button href="#" class="button  special text-center ripplelink4 mTop10" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/routers/loginmob.html')">Click to Login</button>
                </div>
            </div>
			
			
			 <div class="row nospace">
               
                    <p class="text-info mTop10">I only need an account with the 
				 <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/tsignupacknowledge.shtml?acttype=privatePBCOnly&link=true&index=0')"><b>Pinellas Bayway Commuter Plan.</b></a> Valid only at eligible Bayway facilities.</p>
			 </div>
			 <div class="row">
                <div class="col-xs-12  mTop15">
			<p class="text-info mTop10">Private Accounts are for non-commercial users with owned, leased or rented vehicles and/or trailers and must meet the following <a class="hlink" data-toggle="collapse" data-target="#private_collapse">requirements</a></p>
			<div id="private_collapse" class="collapse call-action">
			<ul>
			<li>Maximum of 100 transponders per account</li>
			<li>One license plate for every transponder purchased (portable transponders are interchangeable with any registered vehicle)</li>
			<li>Mini sticker transponders must be affixed to the windshield of the registered vehicle</li>
			<li>Minimum opening balance of $10 + transponder purchase price</li>
			<li>Single prepaid account balance will be shared by all transponders</li>
			<li>Lowest toll amount will be paid</li>
			<li>Account reloaded by Cash, Credit Card or Bank Account</li>
			</ul>
	</div>
				</div>
				</div>
			
		</div>	
            <div class="row nospace">
                <div class="col-xs-12 mTop20 card-new1 effectn2 lcolor1">
                    <h3>Fleet Account</h3>
                    <p class="text-info mTop10">Commercial Accounts are for companies or businesses with owned, leased or rented vehicles and/or trailers and must meet the following <a class="hlink" data-toggle="collapse" data-target="#fleet_collapse">requirements</a></p><br>
				
				
				<div id="fleet_collapse" class="collapse">
			<ul class="call-action">
					<li><b>Prepaid application:</b></li>
					</ul>
					
					<p class="text-info">
				   • A current Federal Identification Number (FEIN) <br>
				   • Minimum purchase of 101 transponders <br>
                   • Minimum opening balance of $1,000 + transponder purchase price <br>
                   • Minimum replenishment amount is $250 <br>
                   • Minimum of one vehicle and maximum of two vehicles per transponder purchased <br>
                   • Application subject to review and approval <br>
				 </p>
				 <ul class="call-action">
					<li><b>Postpaid application:</b></li>
					</ul>
					<p class="text-info">
				   • A current Federal Identification Number (FEIN) <br>
				   • Minimum purchase of 101 transponders <br>
                   • Minimum of one vehicle and maximum of two vehicles per transponder purchased<br>
                   • A postpaid account application requires a security bond <br>
                   • Application subject to review and approval <br>
				 </p>
				</div>
				 <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/tsignupacknowledge.shtml?acttype=fleet&link=true&index=1')"><b>Click here</b></a> to Apply</p>
                </div>
            </div>
            <div class="row nospace">
                <div class="col-xs-12  mTop15 card-new2 effectn2 lcolor2">
                    <h3>Government Account</h3>
                    <p class="text-info mTop10">Government Accounts are for public agencies at the Federal, State or Local level and must meet the following <a class="hlink" data-toggle="collapse" data-target="#gove_collapse">requirements</a></p>
				<div id="gove_collapse" class="collapse">
				<ul class="call-action">
					<li>Minimum of one vehicle and one transponder </li>
					<li>Requires purchase order </li>
					<li>Application subject to review and approval <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/tsignupacknowledge.shtml?acttype=govt&link=true&index=2')"><b>Click here</b></a> to Apply</li>
				 </ul>
				</div>
                </div>
            </div>
           
        </div>
      
    </ion-content>
</ion-view>
