<ion-view view-title="Release Registration" ng-controller="ReleaseRegistrationCtrl">
    <ion-content>
        
        <div class="container">
            <p style="display:none">{{page.title="Registration Stop"}}</p>
            <p style="display:none">{{releasereg.redirectURL="https://mobileapp.sunpass.com/vector/vurl/mobileapp/invoices/TaxCollectorSearch.do?serviceid="}}</p>
            <div class="nospace">
                <form id="release_reg_form" method="post" class="form-horizontal mTop20">
                    <div class="form-group">
                        <div class="row nospace">
                            <div class="col-sm-12 col-xs-12 col-lg-8 nospace">
                                <input type="text" class="input-text form-control" name="lincenseplateno" id="platenumber" ng-model="releasereg.plateNumber" placeholder="License Plate Number" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row nospace">
                            <div class="col-sm-12 col-xs-12  col-lg-8 nospace">
                                <!--<input type="text" class="input-text form-control" name="regdate1" id="dp1" ng-model="releasereg.issuedDate" placeholder="Last Name" />-->
                                <input type="text" class="input-text form-control" name="lastName" id="lastName" ng-model="releasereg.lastName" placeholder="Last Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row nospace">
                        <button href="#" ng-click="onLookUpClick()" class="button mTop10 special text-center ripplelink3">Look Up</button>
                    </div>
                </form>
            </div>
        </div>
         

        <script type="text/javascript"> function noSubmit() {}</script>

    </ion-content>
</ion-view>

