body {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
    /*
	font-size: 10px;
    */
	color:#333333;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	background-image: url('http://images.inin.com/images/bk.png');
	background-position:50% top;
	background-repeat:repeat-x;
	background-color:#FFFFFF;
}
div p {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 10px;
}
h1 {
	line-height: 1;
	color: #000000;
	font-size: 200%;
	font-weight:bold;
}
h3 {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	color: #D28E00;
	font-size: 14px;
	font-weight:bold;
}
a:link {
	color: #D28E00;
	text-decoration: none;
}
a:visited {
	color: #D28E00;
	text-decoration: none;
}
a:hover {
	color: #9B243E;
	text-decoration: underline;
}
a:active {
	color: #D28E00;
}
a.highlight { color: #9B243E; }
.topnav {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 11px;
	color:#333333;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
.topnav a, .topnav a:visited, .topnav a:active {
	color: #333;
	padding: 0 8px;
	border-right: 1px solid #D28E00;
}
.topnav a:hover {
	text-decoration: underline;
}
}
li {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: 1.5;
	text-decoration: none;
	text-indent: 0px;
	padding: 1px;
	margin: 4px;
}
.header {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	color: #000000;
	font-size: 18px;
	font-weight:bold;
}
.subheader {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	color: #D28E00;
	font-size: 14px;
	font-weight:bold;
}
.NAVheader {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	color: #000000;
	font-size: 13px;
	font-weight:bold;
}
.NAVsubheader {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	color: #000000;
	font-size: 11px;
	font-weight:bold;
}
.subheaderSM {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	color: #000000;
	font-size: 10px;
	font-style:italic;
}
.sidebar {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1.3;
	color: #333333;
	font-size: 10px;
	font-stretch: narrower;
}
.sidebarred {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 2;
	color: #9B243E;
	font-size: 10px;
	font-stretch: narrower;
	font-weight: bold
}
.bodySM {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	font-size: 10px;
	color:#333333;
}
.headerSMred {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1;
	color: #9B243E;
	font-size: 12px;
	font-weight:bold;
}
.bottom {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 9px;
	color: #333333;
	line-height: 1.0;
	text-decoration: none;
}
.bottom a:link {
	color: #333333;
	text-decoration: none;
}
.bottom a:visited {
	color: #333333;
	text-decoration: none;
}
.bottom a:hover {
	color: #333333;
	text-decoration: underline;
}
.bottom a:active {
	color: #333333;
}
.breadcrumb a:link {
	color: #9B243E;
	text-decoration: none;
}
.breadcrumb a:visited {
	color: #9B243E;
	text-decoration: none;
}
.breadcrumb a:hover {
	color: #9B243E;
	text-decoration: underline;
}
.breadcrumb a:active {
	color: #9B243E;
}
.breadcrumb {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 9px;
	color: #333333;
	line-height: 1.0;
	text-decoration: none;
  border-bottom: none;

}
.yllwpipe {
	color: #D28E00;
	text-decoration: none;
	margin: 0 3px;
}
.footer a:link {
	color: #333333;
	text-decoration: none;
}
.footer a:visited {
	color: #333333;
	text-decoration: none;
}
.footer a:hover {
	color: #333333;
	text-decoration: underline;
}
.footer a:active {
	color: #333333;
}
.footer {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 10px;
	color: #333333;
	line-height: 1.0;
	text-decoration: none;
}

#contentleft {width:640px; padding:0 10px 0 0; float:left; height:auto; border-right:2px solid gray; background:#fff;}
#contentright {width:213px; padding: 0 0 0 10px; height:auto; float:right; background:#fff;}
#contentright_solutions {width:213px; padding:0px; height:auto; float:left; background:#fff;}
#contentfooter {width:660px; margin-right:auto; margin-left:auto; background:#eee;}
#contentrow {width:660px; margin-right:auto; margin-left:auto; background:#fff;}
#contentright p { margin: 0 0 5px; padding: 0; }


/* Microsoft Shared\web server extensions\12\TEMPLATE\LAYOUTS\1033\STYLES */
.ms-siteactionsmenu {
	border:medium none;
	cursor:pointer;
	font-family:Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:8pt;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
	padding:0pt;
	white-space:nowrap;
}
.masterContent {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	background-color:transparent;
}
.authoringRegion {
	width:100%;
	background-color:transparent;
	color:#333333;
}
.ms-topnavContainer {
	border:none;
	border-left:none;
	border-bottom:none;
}
.ms-topnav {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:9pt;
	color:#333333;
	border-right-style:solid;
	border-right-color:#D28E00;
	border-right-width:1px;
border-left:none;
border-top:none;
	line-height: 1.0;
	padding: 0px 4px 1px 4px;
	text-decoration: none;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	/* background-image:url('../images/bk_nav.gif'); */
	
}
.ms-topnav a:link {
	color: #333333;
	text-decoration: none;
	display: block;
}
.ms-topnav a:visited {
	color: #333333;
	text-decoration: none;
	display: block;
}
.ms-topnav a:hover {
	color: #333333;
	text-decoration: underline;
	display: block;
}
.ms-topnav a:active {
	color: #333333;
	text-decoration: underline;
	display: block;
}
.ms-topnavselected {
	color:#003399;
}
.ms-topnavselected a {
	color:#003399;
}
.ms-topNavHover {
	color:#000000;
}
.ms-topNavHover a {
	color:#000000;
}
.ms-topNavFlyOutsContainer {
	border:solid 1px #c2dcff;
}
.ms-topNavFlyOuts {
	background-color:#dda01e;
	font-family:Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:8pt;
	padding: 4px 6px 4px 6px;
	border-bottom: solid 1px #FFFFFF;
	z-index:5;
}
.ms-topNavFlyOuts a:link {
	color: #333333;
	text-decoration: none;
	display: block;
*width:120px;
	min-width:120px;
}
.ms-topNavFlyOuts a:visited {
	color: #333333;
	text-decoration: none;
	display: block;
}
.ms-topNavFlyOuts a:hover {
	color: #9B243E;
	text-decoration: none;
	display: block;
}
.ms-topNavFlyOuts a:active {
	color: #333333;
	margin-left: 1px;
	display: block;
}
.ININBottomNavTab {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 9px;
	color: #333333;
	border-right-style:solid;
	border-right-color:#D28E00;
	border-right-width:1px;
	line-height: 1.0;
	text-decoration: none;
	padding: 0px 4px 1px 4px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
}
.ININBottomNavTab a:link {
	color: #333333;
	text-decoration: none;
	display: block;
}
.ININBottomNavTab a:visited {
	color: #333333;
	text-decoration: none;
}
.ININBottomNavTab a:hover {
	color: #333333;
	text-decoration: underline;
}
.ININBottomNavTab a:active {
	color: #333333;
	margin-left: 1px;
}
.ms-bottomnavContainer {
	border:none;
	border-left:none;
}
.ms-sitemapdirectional a {
	color: #9b243e;
	unicode-bidi:embed;
}
.ms-sitemapdirectional {
	color: #9b243e;
	unicode-bidi:embed;
}
.ms-pagebreadcrumb {
	font-size:8pt;
	background-color:#FFFFFF;
	color:#333333;
	padding:2px 3px 3px 11px;
	border-left:1px solid #ffffff;
	border-top:1px solid #ffffff;
}
.ms-pagebreadcrumb a:link {
	color: #333333;
	background-color:#FFFFFF;
	text-decoration: none;
}
.ms-pagebreadcrumb a:visited {
	color: #333333;
	background-color:#FFFFFF;
	text-decoration: none;
}
.ms-pagebreadcrumb a:hover {
	color: #333333;
	background-color:#FFFFFF;
	text-decoration: underline;
}
.ms-pagebreadcrumb a:active {
	color: #333333;
	background-color:#FFFFFF;
}
.ms-rteCustom-MainBodyText {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1.3;
	font-size: 11px;
	color:#333333;
}
.masterContent {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	background-color:transparent;
}
.authoringRegion {
	width:100%;
	background-color:transparent;
	color:#333333;
}
.ms-rteCustom-MainBodyText {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1.3;
	font-size: 11px;
	color:#333333;
}
.ms-WPBody {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1.3;
	color: #333333;
	font-size: 10px;
	font-stretch: narrower;
}
.ms-WPBody a.Headline {
	line-height: 1;
	color: #9B243E;
	font-size: 12px;
	font-weight:bold;
}
.ms-WPBody a.AllNews {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 2;
	color: #9B243E;
	font-size: 10px;
	font-stretch: narrower;
	font-weight: bold
}
.ms-WPBody a.Article {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 1.3;
	color: #333333;
	font-size: 10px;
	font-stretch: narrower;
}
.ms-PartSpacingVertical {
	font-size:1pt;
	margin-top:2px;
}
.ms-siteaction a {
	font:8pt tahoma;
	font-weight:bold;
	color:#666666;
	text-decoration:none;
}
.ms-siteaction {
	font:8pt tahoma;
	font-weight:bold;
	color:#666666;
	text-decoration:none;
}
table.ms-siteaction td.ms-siteaction {
	border-right:solid 1px #bfbfbf;
}
table.ms-siteaction td.ms-siteaction div {
	padding:3px 8px 3px 8px;
	border-right:solid 1px #FFFFFF;
}
.ms-siteactionsmenu div div div {
	background-repeat:repeat-x;
	border-top:1px solid #666666;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-bottom: 1px solid #666666;
	background-color:#eaeaea;
	padding:1px 4px 3px 10px;
}
.ms-siteactionsmenu div div div a {
	color:#FFFFFF;
	font-weight:bold;
}
.ms-siteactionsmenu div div div.ms-siteactionsmenuhover {
	border-top:1px solid #666666;
	border-left:1px solid #666666;
	border-right:1px solid #666666;
	border-bottom: 1px solid #666666;
	background-color:#ffffcc;
}
.ms-actionbar {
	background-color:#FFFFFF;
	border:1px solid #6f9dd9;
	padding-top:1px
}
.ms-actionsep {
	height:8px;
	border-right:1px solid #6f9dd9;
}
.ms-nav th {
	font-size:8pt;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-weight:normal;
	text-align:left;
	color:#000000;
}
/* Microsoft Shared\web server extensions\12\TEMPLATE\FEATURES\PublishingLayouts\en-us\band.css */
.leftNav {
	margin-right:0px;
	margin-left:7px;
	margin-top:4px;
	padding-top:0px;
	border: none;
	background-color: #FFFFFF;
	width:150px;
}
/* Custom style to replace QuickLaunch */
.leftNavHeader {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 12px;
	font-weight:bold;
	color:#333333;
	padding-bottom: 5px;
}
.leftNavHeader a:link {
	color: #333333;
	text-decoration: none;
}
.leftNavHeader a:visited {
	color: #333333;
	text-decoration: none;
}
.leftNavHeader a:hover {
	color: #333333;
	text-decoration: none;
}
.leftNavHeader a:active {
	color: #333333;
}
.leftNav1 {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#333333;
}
.leftNav1 a:link {color: #333333; text-decoration: none; font-weight:normal; }
.leftNav1 a:visited {color: #333333; text-decoration: none; font-weight:normal; }
.leftNav1 a:hover {color: #333333; text-decoration: none; font-weight:normal; background-image:url('http://images.inin.com/images/leftnav_bk.png'); background-position:left; background-repeat:repeat-y;}
.leftNav1 a:active {color: #333333; text-decoration: none; font-weight:normal; background-image:url('http://images.inin.com/images/leftnav_bk.png'); background-position:left; background-repeat:repeat-y;}

.leftNav2 {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 10px;
	color:#333333;
	line-height:1;
	padding-top: 1px;
	padding-bottom: 2px;
}
.leftNav2 a:link {
	color: #333333;
	text-decoration: none;
	font-weight:normal;
}
.leftNav2 a:visited {
	color: #333333;
	text-decoration: none;
}
.leftNav2 a:hover {
	color: #333333;
	text-decoration: none;
	background-image:url('/images/leftnav_bk.png');
	background-position:left;
	background-repeat:repeat-y;
}
.leftNav2 a:active {
	color: #333333;
}
.leftNavItemMenu {
}
.leftNavItemMenuSub {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 2;
	font-size: 11px;
	color:#333333;
	font-weight:bold;
	margin-left:2px;
}
.leftNavItemMenuSub a {font-family: Verdana, 'Lucida Grande', arial, sans-serif;}
.leftNavItemMenuSub a:link {color: #333333;	text-decoration: none;}
.leftNavItemMenuSub a:visited {	color: #333333;	text-decoration: none;}
.leftNavItemMenuSub a:hover {	color: #333333;	text-decoration: none;}
.leftNavItemMenuSub a:active {	color: #333333;}
.leftNavHeaderActive {
}
.leftNavItemActive {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	line-height: 2;
	font-size: 10px;
	color:#333333;
}
.leftNavItemActive a:link {
	color: #333333;
	text-decoration: none;
}
.leftNavItemActive a:visited {
	color: #333333;
	text-decoration: none;
}
.leftNavItemActive a:hover {
	color: #333333;
	text-decoration: none;
}
.leftNavItemActive a:active {
	color: #333333;
}
/* Search Styles */

.ms-sbtable {
	color:#000000;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 10px;
	font-style:normal;
	font-weight:normal;
	background: url('http://images.inin.com/images/box_searchbk.gif') repeat-x;
}
.ms-sbtablealt {
	color:#000000;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 10px;
	font-style:normal;
	font-weight:normal
}
.ms-sbtable-ex {
	width:100%;
	border-collapse:collapse;
	margin-top:2px;
	margin-left:2px;
}
.ms-sbtable-border {
	border:1px solid #e9f2fd;
}
td.ms-sbcell {
	border:none;
	padding:0px 0px 0px 2px;
	white-space:nowrap;
}
td.ms-sbcellnoborder {
	padding-right:2px;
	white-space:nowrap;
	border:0;
}
.ms-sbtext {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:1em;
	font-weight:bold;
}
.ms-sbplain {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:8pt;
	border:none;
	padding:0px 0px 0px 4px;
}
.ms-sbplainwithborder {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:8pt;
}
td.ms-sblink {
	padding-right:14px;
	border:none;
}
.ms-sblink a:visited {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:8pt;
	color:#666666;
	text-decoration:none;
	padding-left:4px;
}
.ms-sblink a:link {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:8pt;
	color:#666666;
	text-decoration:none;
	padding-left:4px;
}
.ms-sblink a:hover {
	color:#000000;
	text-decoration:underline;
}
td.ms-sbgo {
	padding-left:3px;
	padding-right:0px;
	padding-bottom:1px;
	padding-top:1px;
}
searchLayout input {
	background: url('http://images.inin.com/images/box_searchgo.gif') no-repeat left 50%;
	padding-left: 25px;
}
.searchLayout .ms-sbcell {
	background: url('http://images.inin.com/images/box_searchbk.gif') repeat-x;
}
.ms-rightbodysectionsearchbox {
	width:100%;
}
.ms-sbLastcell {
	width:100%;
}
.ms-sbLastCell {
	padding-right:1px;
}
td.ms-sbscopes {
	border:none !important;
}
select.ms-sbscopes {
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size: 8px;
	width:170px;
}
.srch-WPBody {
	margin:0px;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-size:1em;
	color:#666666;
}
.srch-results {
}
.srch-sort {
	COLOR:#333333;
	FONT-SIZE:1.0em;
}
.srch-sort A:visited {
	text-decoration:none;
	color:#003399;
}
.srch-sort A:link {
	text-decoration:none;
	color:#003399;
}
.srch-sort a:hover {
	color:#FF0000;
}
.srch-sort-right {
	float:right;
	COLOR:#333333;
	FONT-SIZE:1.0em;
	padding-bottom:4px;
}
.srch-sort-right A:visited {
	text-decoration:none;
	color:#003399;
}
.srch-sort-right A:link {
	text-decoration:none;
	color:#003399;
}
.srch-sort-right a:hover {
	color:#FF0000;
}
.srch-summary {
	COLOR:#333333;
	FONT-SIZE:1.0em;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
}
.srch-summary A:visited {
	text-decoration:none;
	color:#003399;
}
.srch-summary A:link {
	text-decoration:none;
	color:#003399;
}
.srch-summary a:hover {
	color:#FF0000;
}
.srch-stats {
	COLOR:#333333;
	FONT-SIZE:1.0em;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	background-color:#ececec;
	text-align:left;
	white-space:nowrap;
}
.srch-stats A:link {
	text-decoration:none;
	color:#003399;
}
.srch-stats a:hover {
	color:#FF0000;
}
.srch-Description {
	FONT-SIZE:1.0em;
	MARGIN:0px 0px 4px;
	COLOR:#333333;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
}
.srch-Description b {
	font-weight:bold;
	COLOR:#333333;
}
.srch-alertme A:visited {
	MARGIN:0px 0px 0px;
}
.srch-alertme a:link {
	MARGIN:0px 0px 0px;
}
.srch-alertme a:hover {
	MARGIN:0px 0px 0px;
}
.srch-Title {
	FONT-SIZE:1.2em;
	MARGIN:0px 0px 5px;
	COLOR:#9B243E;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
}
.srch-Title A:visited {
	text-decoration:none;
	color:#333333;
}
.srch-Title A:link {
	text-decoration:none;
	color:#000000;
}
.srch-Title a:hover {
	color:#9B243E;
	text-decoration:underline;
}
.srch-URL A:visited {
	color:#9B243E !important;
	text-decoration:none;
}
.srch-URL A:link {
	color:#9B243E !important;
	text-decoration:none;
}
.srch-URL a:hover {
	color:#9B243E;
	text-decoration:underline;
}
.srch-Metadata {
	BORDER-TOP:#e0ded5 1px solid;
	FONT-SIZE:1.0em;
	MARGIN:0px 0px 15px;
	COLOR:#8c8c8c;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
}
.srch-dup .srch-Page-bg {
}
.srch-Page {
	COLOR:#333333;
	FONT-WEIGHT:bold;
	FONT-SIZE:1.0em;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	background-color:#ececec;
	text-align:right;
}
.srch-Page A:visited {
	text-decoration:none;
	color:#666666;
	FONT-WEIGHT:normal;
}
.srch-Page A:link {
	text-decoration:none;
	color:#333333;
	FONT-WEIGHT:normal;
}
.srch-Page a:hover {
	color:#9B243E;
}
.srch-dup A:visited {
	COLOR:#517acc
}
.srch-dup A:link {
	COLOR:#517acc
}
.srch-Icon {
	margin-right:4;
}
.srch-ActionLink a {
	text-decoration:none;
	font-size:.85em;
	font-style:italic;
	color:#9B243E;
	margin-top:2;
	margin-bottom:0;
}
.srch-ActionLink a:hover {
	color:#9B243E;
}
.ms-searchresultstitlearea {
	background-image:url("http://images.inin.com/images/pageTitleBKGD.gif");
	background-repeat:repeat-x;
	background-color:#d6e8ff;
	text-align:center;
	padding-left:18px;
	padding-top:20px;
	border-bottom:1px solid #6f9dd9;
	height:85px;
}
.ms-searchresultsareaSeparator {
	background-color:#d6e8ff;
	padding:0px;
}
/* Results Page Styles portal.css (line 730) */
.srch-BB-SpecialTerm b {
	color:#333333;
	font-size:1.2em;
	font-weight:bold;
}
/* Results Page Styles portal.css (line 704) */
.srch-BestBetsTitle {
	color:#9B243E;
	font-family: Verdana, 'Lucida Grande', arial, sans-serif;
	font-weight: bold;
	font-size:1.2em;
	margin:0px 0px 4px;
}
/* Results Page Styles core.css (line 2516) */
.ms-WPBody a:visited {
	color:#D28E00;
	text-decoration:none;
}
.ms-WPBody a:link {
	color:#D28E00;
	text-decoration:none;
}
/* Results Page Styles core.css (line 2521) */
.ms-WPBody a:hover {
	color:#9B243E;
	text-decoration:underline;
}
/* Results Page Styles portal.css (line 698) */
.srch-BB-URL a:visited {
	color:#9B243E !important;
}
.srch-BB-URL a:link {
	color:#9B243E !important;
}
.srch-BB-URL a:hover {
	color:#9B243E !important;
	text-decoration:underline;
}