@charset "UTF-8";
/* CSS Document */

@font-face {
  font-family: 'OpenSansRegular';
  src: url('../fonts/OpenSansRegular.eot');
  src: url('../fonts/OpenSansRegular.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/OpenSansRegular.woff') format('woff'), 
  url('../fonts/OpenSansRegular.ttf') format('truetype'), 
  url('../fonts/OpenSansRegular.svg') format('svg');
}

.btn {white-space: normal;}.btngf {color: #0098a3;}
.btn-default {
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e6e6e6, 100%);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
  background-repeat: repeat-x;
  border-color: #e0e0e0;
  border-color: #ccc;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);}