@CHARSET "ISO-8859-1";

.row-nocolor {
	background-color: none !important;
	background: none repeat scroll 0px 0px #FFF !important;
	border-color: #FFF;
}
#sections table thead{
	display: none;
}
#imageContent table tr {
	border: 0 !important;
}
.ui-layout-unit-header-title {
	font-size: 25px;
	text-align: center;
}
.infomessage {
	font-style: oblique;
	font-size: 0.7em;
	font-weight: bold;
	color: rgba(207, 135, 135, 1);
}
.height500{
	height: 500px;
}

#messagepanel{
	text-align: center;
}

.infoStyle{
	color: green;
	list-style-image: url("../../ui/images/success.png");
	list-style-type: none;	
}

.errorStyle{
	color: red;
	list-style-image: url("../../ui/images/error.png");
	list-style-type: none;	
}