<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://TTVQACIC.tttssdev.local:8114/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="https" pattern="^(https?)://" />
                    </conditions>
                    <action type="Rewrite" url="https://TTVQACIC.tttssdev.local:3508/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
