/* Message area customizations */

.msg_default {
	color: #000;
	font-family: Georgia, Times, serif;
	font-size: 12px;
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}
.msg_left {
	width: 100%;
	}

.msg_default .headline {
	font-size: 14px;
	font-weight: bold;
}

.msg_default .byline {
	font-size: 10px;
}

.msg_default .yellow_bg	{
	background-color: yellow;
	}
