<ion-view view-title="Contact us-es" ng-controller="ContactUsCtrl">
    <ion-content>
                <div class="container">
                <p style="display:none">{{page.title="Contáctenos"}}</p>
        <div class="row nospace1">
                            <div class="col-sm-12 col-xs-12 nospace1">
                <div class="card-new1 effectn2 newfont1 lcolor1">La sección Preguntas frecuentes puede tener la respuesta a su pregunta. Si todavía no las ha consultado, haga clic aquí.</div>
                <h4 class="title mtop10">Comunicarse por correo electrónico</h4>
                <div id="main">
                    <button class="btn-wav1 ripplelink btn-color space-new"  ng-click="onclickSubmitClick('https://mobileapp.sunpass.com/vector/vurl/mobileapp/account/home/contactUs.do?from=Home&locale=es_US')"><span class="inline-font">Haga clic aquí para enviar una solicitud</span></button>
                </div>
                <div id="main">
                    <button class="btn-wav1 btn-color ripplelink space-new" ng-click="onclickSubmitClick('https://mobileapp.sunpass.com/en/routers/vinquire.html')"><span class="inline-font">Ver solicitudes anteriores</span></button>
                </div>
                <h4 class="title mtop10">Comunicarse por teléfono</h4>
                <div id="main">
                    <button class="btn-wav1 btn-color btn-icon ripplelink space-new"  ng-click="redirect()"><span class="inline-font">Haga clic para llamar al 1-888-865-5352</span></button>
                </div>
                <div class="card-new1 effectn2 newfont1 lcolor2">Estados Unidos y Canadá:<br/>1-888-TOLL FLA (1-888-865-5352)<br/>FAX: 1-888-265-1725 (excepto Canadá)<br/>FAX: 1-561-470-669<br/>De lunes a viernes, de 7:00 a. m. a 7:00 p. m.<br/>Sábado, de 8:30 a. m. a 5:00 p. m.</div>
                <div class="card-new1 effectn2 lcolor3">
                    <h2 class="title">Centro de servicio al cliente<br></h2>
					<br>
					<h4 class="title mtop10">CENTRO DE ATENCIÓN AL CLIENTE OCOEE</h4>
					<span class="newfont1">Dirección: 9405 W. Colonial Drive, Ocoee, FL 34761<br></span>
					<span class="newfont1">Horario: Abierto de Lunes a Viernes, de 8:00 a.m. a 6:00 p.m. <br>Sábado, de 10:00 a.m. a 6:00 p.m. <br> Domingo, de 10:00 a.m. a 5:00 p.m.<br></span>
					<br>
					<h4 class="title mtop10">CENTRO DE ATENCIÓN AL CLIENTE TAMPA</h4>
					<span class="newfont1">Dirección: 10137 E. Adamo Drive, Suite 800A, Tampa, FL 33619<br></span>
					<span class="newfont1">Horario: Abierto de Lunes a Viernes de 8:00 a.m. a 6:00 p.m.<br></span>
					<br>
					<h4 class="title mtop10">CENTRO DE ATENCIÓN AL CLIENTE MIAMI</h4>
					<span class="newfont1">Dirección: 7902 NW 36th Street, Unit 203, Doral, FL 33166<br></span>
					<span class="newfont1">Horario: Abierto de Lunes a Viernes de 8:00 a.m. a 6:00 p.m.<br></span>
					<br>
					<h4 class="title mtop10">CENTRO DE ATENCIÓN AL CLIENTE BOCA RATON</h4>
					<span class="newfont1">Dirección: 7941 W. Glades Road, Boca Raton, FL 33434<br></span>
					<span class="newfont1">Horario: Abierto de Lunes a Viernes de 8:00 a.m. a 6:00 p.m.<br>Cerrado los sábados y domingos.<br></span>
					<br>
					<h4 class="title mtop10">SNAPPER CREEK SERVICE PLAZA</h4>
					<span class="newfont1">Dirección: Milepost 19, Florida Turnpike, Miami, FL 33186<br></span>
					<span class="newfont1">Horario: Abierto de Lunes a Viernes de 8:00 a.m. a 6:00 p.m.<br>Cerrado los sábados y domingos.<br></span>
					<br>
					<h4 class="title mtop10">BAYWAY-PINELLAS TOLL PLAZA</h4>
					<span class="newfont1">Dirección: 4501 54th Avenue S,<br>St. Petersburg, FL 33711<br></span>
					<span class="newfont1">Horario: Abierto los Lunes, de 8:00 a.m. a 6:00 p.m. <br>De martes a viernes, de 8:00 a.m. a 4:30 p.m. Cerrado los sábados y domingos<br>Dias Festivos:Cerrado en días festivos importantes<br></span>
					<br>
					<h4 class="title mtop10">MID-BAY BRIDGE</h4>
					<span class="newfont1">Dirección: 1200 White Point Road, Niceville, FL 32578<br></span>
					<span class="newfont1">Horario: Abierto de Lunes a Viernes de 9:00 a.m. a 4:00 p.m.<br>Cerrado los sábados y domingos<br></span>
					<br>
					<h4 class="title mtop10">GARCON POINT BRIDGE</h4>
					<span class="newfont1">Dirección: 555 Avalon Boulevard, Milton, FL 32571<br></span>
					<span class="newfont1">Horario: Abierto los Lunes 8:00 a.m. a 5:00 p.m.<br>Cerrado los sábados y domingos<br></span>
                </div>
				 <div class="card-new1 effectn2 lcolor3">
                    <h2 class="title">Direcciones postales</h2><br>
					<h4 class="title mtop10">Recargas de SunPass y Pago de Facturas</h4>
					<span class="newfont1">Departamento de Transporte de la Florida/SunPass<br>P.O. Box 71237<br>Charlotte, NC 28272-1237<br></span><br>
					<h4 class="title mtop10">Citaciones de Tráfico Uniforme</h4>
					<span class="newfont1">Departamento de Transporte de la Florida/SunPass<br>P.O. Box 447<br>Ocoee, FL 34761<br></span><br>
					<h4 class="title mtop10">Correspondencia e inscripción general de clientes</h4>
					<span class="newfont1">Departamento de Transporte de la Florida/SunPass<br>P.O. Box 447<br>Ocoee, FL 34761<br></span><br>
					
				</div>
            </div>
        </div>
        </div>            
    </ion-content>
</ion-view>
