<ion-view view-title="Home-es" ng-controller="DashboardCtrl">
    <ion-content scroll="false">
        <p style="display:none">{{page.title="Home-es"}}</p>
        <div class="dashboard-img-container">
            <div class="fill"><img class="banner" src="img/banner.jpg"/></div>
        </div>


        <div class="dashboard-btn-holder">
            <div class="container-fluid dashboard-block">
                <div class="row dashboard-tspace">
                    <div class="button-cell col-xs-4">
                        <a class="imgborder" ng-click="onNavigationClick(false, 'LOGIN')"><div class="m-dash-icon-3"></div><span class="newfont">Mi
                            <br>Cuenta</span></a>
                    </div>
                    <div class="button-cell col-xs-4">
                      <a class="imgborder" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/vector/vurl/mobileapp/account/signup/flActTagRegister.do?tcagree=true')"><div class="m-dash-icon-2"></div><span class="newfont">Activar
                            <br>Transpondedor</span></a>
                    </div>
                    <div class="button-cell col-xs-4">
                        <a class="imgborder" ng-click="onNavigationClick(false, 'PURCHASE_TRANSPONDER')"><div class="m-dash-icon-1"></div>
                            <span class="newfont">Compra<br>Transpondedor</span></a>
                    </div>
                    
                    
                </div>

                <div class="row dashboard-tspace">
                    <div class="button-cell col-xs-4">
                        <a class="imgborder" ng-click="onNavigationClick(false, 'PAYDOCUMENTS')"><div class="m-dash-icon-4"></div><span class="newfont">Paga
                            <br>Documentos</span></a>
                    </div>
                    <div class="button-cell col-xs-4">
                        <a class="imgborder" ng-click="onNavigationClick(false, 'RELEASE_REGISTRATION')"><div class="m-dash-icon-5  m-dash-icon-act-5"></div><span class="newfont">Lanzamiento
                            <br>Registro</span></a>
                    </div>
                    <div class="button-cell col-xs-4">
                        <a class="imgborder" ng-click="onNavigationClick(false, 'FAQS')"><div class="m-dash-icon-6"></div><span class="newfont">FAQs-es</span></a>
                    </div>
                </div>

              
				<div class="smedia-grid-views">
                    
            <a class="social-icont twitter" ng-click="navigageExternalURL()"></a><br class="lnone"/>
           <a class="social-icony youtube"  ng-click="navigageExternalURLY()"></a>
           <br class="lnone"/><a class="social-lang "  ng-click="showLanguagePopup()"></a> 

                                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
