<ion-view view-title="Help-es" ng-controller="HelpCtrl">
    <ion-content>
        <div class="container nospace2">
        <p style="display:none">{{page.title="Ayuda"}}</p>
        <div class="row nospace1">
            <div class="col-xs-12 col-sm-12 col-lg-8 mTop20">
                
                    <div class="card-new1 effectn2 lcolor1">Para obtener información y ayuda con respecto a SunPass y acceder a su cuenta, utilice la información disponible aquí</div>
                    <div class="list mtop20">
                        <a class="item  item-text-wrap eve-row right-arrow bottom-line" ng-click="onFAQClick(false, 'FAQS')">Haga clic aquí para acceder a las preguntas frecuentes</a>
                        <a ng-click="onpolicyClick(true, 'https://mobileapp.sunpass.com/es/support/privacy.shtml')" class="item  item-text-wrap add-row bt-space right-arrow bottom-line">Política de privacidad</a>
                        <a ng-click="ontermsofuseClick(true, 'https://mobileapp.sunpass.com/es/support/usermanual.shtml')" class="item  item-text-wrap eve-row bt-space right-arrow bottom-line">Acuerdo del cliente</a>
                        <a ng-click="onfeedbackClick(true, 'https://www.surveymonkey.com/')" class="item  item-text-wrap add-row right-arrow bottom-line">Comentarios</a>
                <a ng-click="onNavigationClick(false, 'NAVIGATIONVIEW')" class="item  item-text-wrap add-row right-arrow bottom-line">Qué hay de nuevo</a>
                </div>
            </div>
        </div>
    </div>
    </ion-content>
</ion-view>
