<ion-view view-title="Inicio" ng-controller="LoginCtrl">
    <ion-content class="login-scroll" scrollX="true">
      <p style="display:none">{{page.title="Inicio"}}</p>
      <p style="display:none">{{logindata.redirectURL="https://mobileapp.sunpass.com/vector/account/home/accountLogin.do?serviceid="}}</p>
      <div class="full-height-block">
         <div ng-show="hasServiceid" id="account_overview" class="account-grid-block">
            <div class="header-logo-block">
               <div class="header-logo-icon"></div>
            </div>
            <div class="card overview-card">
               <div class="card-header">
                  Número de cuenta
               </div>
               <div class="card-block">
                  <h4 class="card-title">{{accountNumber}}</h4>
               </div>
            </div>
            <div class="form-group">
               <div class="row nospace">
                  <button class="button btn-account-special btn-log-space text-center ripplelink1" ng-click="onAccountOverviewClicked()">DESCRIPCIÓN DE CUENTA</button>
               </div>
               <div class="row nospace">
                  <button class="button btn-account-special btn-log-space text-center ripplelink1" ng-click="onLogoutOverviewClicked()">CERRAR SESIÓN</button>
               </div>
            </div>
         </div>
	  <div class="login-grid-block"  ng-show="!hasServiceid">
         <div class="container">
		   <div class="header-logo-block">
                  <div class="header-logo-icon"></div>
               </div>
            <div class="mTop0">
               <form id="defaultForm" class="form-horizontal">
                  <div class="form-group">
                     <div class="row nospace">
                        <div class="col-sm-12 col-xs-12 col-lg-12 nospace">
                           <input type="text" class="input-text-login tab-nfont form-control" name="username" id="UsernameAccount" ng-model="logindata.username" ng-change="onUserNameChange()" placeholder="Nombre de usuario o cuenta # o transpondedor #" ng-disabled="logindata.needInputsDisabled"/>
                        </div>
                     </div>
                     <div class="row nospace2">
                        <div class="col-sm-12 col-xs-12 col-lg-12 nospace barcode-tspace">
                           <a class="barcode-btn-fix" ng-click="loginBarcode()"><span class="tab-nfont bar-code-txt">Clic aquí para código de barra</span></a>
                           <span class="hover-tooltip">
                           <a href="" class="tooltip_icon show-tt" data-toggle="tooltip" title="Escanee el código de barras en el transpondedor SunPass, instalado en el parabrisas">
                           </a></span> 
                           <div  id="windows-hint" style="visibility: hidden;"  class="tooltip_icon"></div>
                           <div class="tooltip_box tooltip_box_es">
                              <span class="button_close tab-nfont">Escanee el código de barras en el transpondedor SunPass, instalado en el parabrisas</span>
                           </div>
                        </div>
                     </div>
                     <div class="row nospace">
                        <div class="col-sm-12 col-xs-12 col-lg-12 nospace">
                           <input type="password" class="input-text-login tab-nfont form-control" name="password" id="pwd" ng-model="logindata.password" placeholder="Contraseña" /> 
                        </div>
                     </div>
                     <div class="row nospace col-wd-row mtop-checkbox-row">
                        <div class="col-xs-6 nospace1">
                           <div class="nospace">
                              <ion-list>
                                 <ion-checkbox ng-model="logindata.isRememberMeChecked" class="noline ng-untouched ng-valid ng-dirty ng-valid-parse ng-empty" style="" value="on" ng-disabled="logindata.needInputsDisabled"><span class="checkbox-span-lspace tab-nfont">Recordarme</span></ion-checkbox>
                              </ion-list>
                           </div>
                        </div>
                        <div class="col-xs-6 nospace1" style="padding-right:5px;">
                           <div class="nospace" ng-hide="logindata.isTouchIdAlreadyConfiguredOrNeedsHide">
                              <ion-list>
                                 <ion-checkbox ng-model="logindata.didUserLikesToConfigureTouchId" class="noline right-checkbox ng-pristine ng-untouched ng-valid ng-empty" style="" value="on" ng-disabled="logindata.needInputsDisabled"><span class="tab-nfont checkbox-span-lspace">Configurar id táctil</span></ion-checkbox>
                              </ion-list>
                           </div>
                           <div class="touch-mainContent-dv right-checkbox1" ng-show="logindata.didUserConfiguredTouchId"><a class="fprint-icon" ng-click="onTouchIdLoginChoosed()" ng-disabled="logindata.needDisabled" style="font-size:12px;"><span class="checkbox-span-lspace2">Iniciar con id táctil</span></a></div>
                        </div>
                     </div>
                  </div>
                  <div class="row nospace">
                     <button class="button btn-login-special text-center ripplelink1" ng-click="onLoginBtnClick()">Inicie sesión</button>
                  </div>
               </form>
            </div>
         </div>
        <div class="row flink-space">
               <div class="col-xs-7 f-active left-div"> <a ng-click="onRegisterClick('https://mobileapp.sunpass.com/vector/vurl/mobileapp/account/maintenance/webforgotPassword.do?&from=Home&locale=en_US')" class="tab-nfont fn-size">nombre de usuario/contraseña</a> </div>
               <div class="col-xs-5 right-div"> <a ng-click="onSignupClick('https://mobileapp.sunpass.com/vector/vurl/mobileapp/account/maintenance/firstTimeLogin.do?&from=Home&locale=en_US')" class="tab-nfont fn-size1">Registrar su nueva cuenta</a> </div>
            </div>
      </div>
	  <div class="dash-grid-block">
            <div class="row dashboard-tspace dashboard-lanspace">
               <div class="button-cell col-xs-6">
                  <a ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/es/signup/acknowledge.shtml?acttype=tagreg&link=true&index=0')" class="imgborder">
                     <div class="m-dash-icon-1"></div>
                     <span class="newfont newfont-es">Activar<br/>transpondedor</span>
                  </a>
               </div>
               <div class="button-cell col-xs-6">
                  <a class="imgborder" ng-click="onNavigationClick(false, 'PURCHASE_TRANSPONDER')">
                     <div class="m-dash-icon-2"></div>
                     <span class="newfont newfont-es">Comprar<br/>transpondedor</span>
                  </a>
               </div>
            </div>
            <div class="row dashboard-tspace">
               <div class="button-cell col-xs-6">
                  <a class="imgborder" ng-click="onNavigationClick(false, 'PAYDOCUMENTS')">
                     <div class="m-dash-icon-3"></div>
                     <span class="newfont newfont-es">Facturas<br/>de peaje</span>
                  </a>
               </div>
               <div class="button-cell col-xs-6">
                  <a class="imgborder" ng-click="onNavigationClick(false, 'RELEASE_REGISTRATION')">
                     <div class="m-dash-icon-4"></div>
                     <span class="newfont newfont-es">Retención<br/> de registro</span>
                  </a>
               </div>
            </div>
         </div>
		<div class="row smedia-row">
            <div class="smedia-grid-views">
               <div class="col-xs-3"> <a class="social-icont" ng-click="navigageExternalURL()"></a></div>
               <div class="col-xs-3"> <a class="social-icony" ng-click="navigageExternalURLY()"></a></div>
               <div class="col-xs-3"> <a class="social-lang"  ng-click="showLanguagePopup()"></a>  </div>
               <div class="col-xs-3"> <a class="social-faqs"  ng-click="onNavigationClick(false, 'FAQS')"></a></div>
            </div>
         </div>
	  </div>
   </ion-content>
</ion-view>