<ion-view view-title="Purchase Transponder" ng-controller="PurchasetransponderCtrl">
    <ion-content>
       <p style="display:none">{{page.title="Comprar transpondedor"}}</p>
        <div class="container">
		 <div class="col-xs-12 mTop20 card-new2 effectn2 lcolor2">
		  <div class="row">
                <div class="col-sm-12 mTop10">
                    <h3>Cuenta Privada</h3>
                </div>
            </div>
			
			<div class="row">
                <div class="col-sm-12 mTop10">
                  <h4>Soy un cliente nuevo</h4>
                </div>
            </div>
            <div class="row nospace">
                <div class="col-sm-12 col-xs-12 newspace">
                    <button href="#" class="button  special text-center ripplelink4 mTop10" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/acknowledge.shtml?acttype=private&link=true&index=0')">Haga clic para Registrarse</button>
                </div>
	
            </div>
           
		   
		    <div class="row nospace">
               
               <p class="text-info mTop10">Si ha abierto una aplicación y tiene el número de referencia,haga
				 <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/vector/vurl/mobileapp/account/signup/RetrievalSignUp.do')"><b>clic aquí</b></a> Haga clic aquí para Aplicar</p>
				 
			  </div>
			<div class="row">
                <div class="col-sm-12 mTop10">
                  <h4>Soy un cliente existente</h4>
                </div>
            </div>
            <div class="row nospace">
                <div class="col-sm-12 col-xs-12 newspace">
                     <button href="#" class="button  special text-center ripplelink4 mTop10" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/routers/loginmob.html')"> Haga clic para Iniciar sesión</button>
                </div>
            </div>
			
			
			 <div class="row nospace">
               
                    <p class="text-info mTop10"> Solo necesito una cuenta con el 
				 <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/tsignupacknowledge.shtml?acttype=privatePBCOnly&link=true&index=0')"><b>plan de transporte de cercanías de Pinellas Bayway.</b></a> Válido solo en los centros elegibles de Bayway.</p>
			 </div>
			 <div class="row">
                <div class="col-xs-12  mTop15">
			<p class="text-info mTop10">Las cuentas privadas son para usuarios no comerciales con vehículos o remolques propios, alquilados o arrendados, y deben cumplir con los siguientes <a class="hlink" data-toggle="collapse" data-target="#private_collapse">requisitos</a></p>
			<div id="private_collapse" class="collapse call-action">
			<ul>
			<li>Máximo de 100 transponders por cuenta.</li>
			<li>Una matrícula para cada transponder adquirido (los transponders portátiles son intercambiables con cualquier vehículo registrado).</li>
			<li>Se deben pegar minitransponders adhesivos al parabrisas del vehículo registrado.</li>
			<li>Saldo de apertura mínimo de $10 + el precio de compra del transponder.</li>
			<li>Todos los transponders compartirán el saldo individual de la cuenta prepaga.</li>
			<li>Se pagará el importe más bajo de peaje.</li>
			<li>Cuenta recargada mediante efectivo, tarjeta de crédito o cuenta bancaria. </li>
			</ul>
	</div>
				</div>
				</div>
			
		</div>	
            <div class="row nospace">
                <div class="col-xs-12 mTop20 card-new1 effectn2 lcolor1">
                    <h3>Flota cuenta</h3>
                    <p class="text-info mTop10">Las cuentas comerciales son para compañías o negocios con vehículos o remolques propios, alquilados o arrendados, y deben cumplir con los siguientes <a class="hlink" data-toggle="collapse" data-target="#fleet_collapse">requisitos</a></p><br>
				
				
				<div id="fleet_collapse" class="collapse">
			<ul class="call-action">
					<li><b>Solicitud prepaga:</b></li>
					</ul>
					
					<p class="text-info">
				   •  Un número de identificación federal (FEIN) actual. <br>
				   • Compra mínima de 101 transponders.  <br>
                   • Saldo mínimo de apertura de $1000 + precio de compra del transponder. <br>
                   • Importe mínimo de recarga de $250.  <br>
                   • Mínimo de un vehículo y máximo de dos vehículos por transponder comprado.  <br>
                   •  Solicitud sujeta a revisión y aprobación.  <br>
				 </p>
				 <ul class="call-action">
					<li><b>Solicitud de pago posterior:</b></li>
					</ul>
					<p class="text-info">
				   • Un número de identificación federal (FEIN) actual. <br>
				   • Compra mínima de 101 transponders.  <br>
                   •  Mínimo de un vehículo y máximo de dos vehículos por transponder comprado.<br>
                   •  Una solicitud de cuenta de pago posterior requiere una garantía de cumplimiento.  <br>
                   • Solicitud sujeta a revisión y aprobación.  <br>
				 </p>
				</div>
				 <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/tsignupacknowledge.shtml?acttype=fleet&link=true&index=1')"><b>clic aquí</b></a> Haga clic aquí para Aplicar
                </div>
            </div>
            <div class="row nospace">
                <div class="col-xs-12  mTop15 card-new2 effectn2 lcolor2">
                    <h3>Gobierno cuenta</h3>
                    <p class="text-info mTop10">Las cuentas gubernamentales están destinadas a agencias públicas a nivel federal, estatal o local, y deben cumplir los siguientes <a class="hlink" data-toggle="collapse" data-target="#gove_collapse">requisitos</a></p>
				<div id="gove_collapse" class="collapse">
				<ul class="call-action">
					<li>Ver los Términos y Condiciones </li>
					<li>Requires purchase order. </li>
					<li>Mínimo de un vehículo y un transponder <a class="imgborder" style="color: #0bb586;" ng-click="onNavigationClick(true, 'https://mobileapp.sunpass.com/en/signup/tsignupacknowledge.shtml?acttype=govt&link=true&index=2')"><b>clic aquí</b></a> Haga clic aquí para Aplicar</li>
				 </ul>
				</div>
                </div>
            </div>
           
        </div>
      
    </ion-content>
</ion-view>
