<ion-view view-title="Maps" ng-controller="MapsCtrl">

    <p style="display:none">{{page.title="Mapas"}}</p>

    <ion-content>
        <div id="search-block">
            <form method="post" class="form-horizontal mTop0" ng-submit="onMapSeachBtnClicked()">
			<div class="input-group login-with-barcode-input">
                <input type="text" class="map-text-search form-control" name="username" id="map-address-search" ng-model="search.userAddress" placeholder="Ingrese una dirección de usuario válida"/>
                <span class="input-group-btn">
                    <button class="btn btn-secondary map-search-icon" ng-click="onMapSeachBtnClicked()" type="button" ng-disabled="search.userAddress.length==0"></button>
                </span>
				</div>
            </form> 
        </div>
        <div id="map_canvas"></div>
    </ion-content>
</ion-view>
