<ion-view view-title="Online User Agreement" ng-controller="UserAgreementCtrl" ng-init="lanList=['English', 'Español']">
    
    <p style="display:none">{{page.title="Acuerdo del Usuario"}}</p>
    
    <div class="user-agree-container">
        
        <div class="row nospace1">
            <div class="agr-head">
                <div class="col-xs-8 nospace2">
                    <h4 class="userhead">Usuario en línea<br/><span class="span_font">Acuerdo</span></h4> </div>
                <div class="col-xs-4 nospace2"> <img class="pull-right usericon_head" src="img/icons/OnlineUserAgreement.svg" /> </div>
            </div>
        </div>
        
        <ion-content scroll="true" class="user-agreement-content">
            <div class="row nospace">
                <div id="user-agreement-eng-content" class="main-content" ng-if="selectedLanguage==lanList[1]">
                    <p>Online User Agreement I agree to use SunPass in accordance with the terms and conditions of the SunPass user agreement located at the App Store. I understand that unless directed otherwise by SunPass my transponder must be properly mounted on the inside of the vehicles windshield.</p>
                    <p>I understand that it is my responsibility to keep all my account information (license plate number, address, credit card information) up to date. I understand that the SunPass transponder will allow passage through all SunPass equippted facilities and the charges will be deducted from my SunPass prepaid account. I understand that I am responsible for all charges associated with my SunPass prepaid account and that the authorized or unauthorized use of my vehicle(s) and/or my transponder(s) by any other person does not relieve my liability for any changes incurred. By clicking "I Agree" above i am entering into agreement with the Florida Department</p>
                </div>
                <div id="user-agreement-spn-content" class="main-content" ng-if="selectedLanguage==lanList[0]">
                    <p>Acuerdo de usuario en línea. Acepto usar SunPass de acuerdo con los términos y condiciones del contrato de usuario de SunPass ubicado en la tienda de aplicaciones. Entiendo que, a menos que SunPass indique lo contrario, mi transpondedor debe montarse correctamente del lado de adentro del parabrisas del vehículo.</p>
                    <p>Entiendo que es mi responsabilidad mantener actualizada toda la información de mi cuenta (número de matrícula, dirección, información de la tarjeta de crédito). Entiendo que el transpondedor SunPass permitirá el paso a través de todas las instalaciones equipadas con SunPass, y los cargos se deducirán de mi cuenta prepaga SunPass. Entiendo que soy responsable de todos los cargos asociados con mi cuenta prepaga SunPass; y que el uso autorizado o no autorizado de mis vehículos o transpondedores por parte de cualquier otra persona no me exime de mi responsabilidad por los cargos incurridos. Al hacer clic en "Acepto" más arriba, estoy entrando en un acuerdo con el Departamento de Florida.</p>
                </div>
            </div>
        </ion-content>
        
        <div class="user-agree-fixed-bottom">
            <div class="row nospace user-agreement-btns">
                <div class="col-xs-6">
                    <button type="button" class="button user-select-language-btn button-clear button-positive" ng-click="changeUserLanguage()"><span class="user-select-language">Seleccione un Idioma</span>
                        <br/>{{selectedLanguage}}</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="button btn-decline btn-agree button-outline button-balanced" ng-click="onAgreeClick()">{{(selectedLanguage==lanList[0])?'Estoy de acuerdo':'I Agree'}}</button>
                </div>
            </div>
        </div>
    </div>
</ion-view>