<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
		<rule name="unclaimed_property" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="unclaimed_property" />
                    <action type="Redirect" url="/en/support/eschOverview.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="cashlocation" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="cashlocations" />
                    <action type="Redirect" url="/en/howitworks/cashLocationsMap.html" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="movedagencypartnerpage" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="en/about/agency_partners.shtml" />
                    <action type="Redirect" url="/en/about/agencies.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="movedflexttagpage" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="en/howitworks/flextag.shtml" />
                    <action type="Redirect" url="/en/guide/doINeedFlex.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="movedcarpoolpage" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="en/support/carpools.shtml" />
                    <action type="Redirect" url="/en/howitworks/carpool.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="movedcscpage" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="en/support/csc.shtml" />
                    <action type="Redirect" url="/en/support/contactUs.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="account setting update" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="suasu" />
                    <action type="Redirect" url="/vector/account/home/ftAccountSettings.do?from=Home&amp;Ref=true&amp;locale=en_US" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="email survey" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="emsua" />
                    <action type="Redirect" url="/en/support/emailsurvey.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="chat survey" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="chsua" />
                    <action type="Redirect" url="/en/support/chatsurvey.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Forte Account" enabled="true" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="(.*)AccountLogin.html$" />
                    </conditions>
                    <action type="Redirect" url="en/routers/my_account.html" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Forte Signup" enabled="true" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="(.*)OpenAccount.html$" />
                    </conditions>
                    <action type="Redirect" url="en/signup/signup.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Forte dynamic" enabled="true" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="(.*)forte/cgi_bin(.*)$" />
                    </conditions>
                    <action type="Redirect" url="en/home/index.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Forte static violation" enabled="true" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="(.*)vector/dynamic/violations/index.shtml$" />
                    </conditions>
                    <action type="Redirect" url="en/routers/violations.html" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="RemovedOTGDyna" enabled="true" stopProcessing="false">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="(.*)retailers/retailerLogin.do$" />
                    </conditions>
                    <action type="Redirect" url="en/home/index.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Forte static retailer" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="static/retailer/index.shtml" />
                    <action type="Redirect" url="en/routers/retailer.html" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Forte static tag reg" enabled="true" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="static/onthego/validatetag.shtml" />
                    <action type="Redirect" url="en/routers/on_the_go.html" appendQueryString="true" redirectType="Found" />
                </rule>
                <rule name="Forte static other" enabled="true" stopProcessing="true">
                    <match url="(.*)static/(.*)" />
                    <action type="Redirect" url="en/home/index.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="RemovedOTG" enabled="true" stopProcessing="true">
                    <match url="(.*)/onthego/(.*)" />
                    <action type="Redirect" url="en/home/index.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="Disable Spanish" enabled="true" stopProcessing="true">
                    <match url="es/(.*)html" />
                    <action type="Redirect" url="en/home/index.shtml" appendQueryString="true" redirectType="Found" />
                </rule>
		<rule name="Disable Feedback" enabled="false" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="en/support/feedback.shtml" />
                    <action type="Redirect" url="en/about/news_trans.shtml" appendQueryString="true" redirectType="Found" />
                </rule>

                <rule name="Redirect to HTTPS - Dynamic" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="^(.+)$" />
                    </conditions>
                    <action type="Redirect" url="https://www.bayareafastrak.org{HTTP_X_IBM_INCOMING_ENC_URL}" redirectType="Found" />
                </rule>
                <rule name="Redirection to HTTPS" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
			<add input="{URL}" pattern="(.*)/app_file/(.*)" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.bayareafastrak.org/{R:1}" redirectType="Found" />
                </rule>
                <rule name="Disable Dynamic" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="en/about/news.shtml" appendQueryString="false" redirectType="Found" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="^(.*).do(.*)$" />
                    </conditions>
                </rule>
		<rule name="Disable Dynamic2" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="en/about/news.shtml" appendQueryString="false" redirectType="Found" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="^(.*)html(.*)$" />
                    </conditions>
                </rule>
                <rule name="Disable Dynamic-NonACS" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Redirect" url="en/home/index.shtml" appendQueryString="false" redirectType="Found" />
                    <conditions>
                        <add input="{HTTP_X_IBM_INCOMING_ENC_URL}" pattern="^(.*).do(.*)$" />
			<add input="{REMOTE_ADDR}" pattern="138.69.160.|10.33.197.|172.30.202.|10.32.69.|10.32.70." negate="true" />
                    </conditions>
                </rule>
                <rule name="csc_chat1" stopProcessing="true">
                    <match url="(.*)cscops.shtml(.*)" />
                    <conditions>
                        <add input="{REMOTE_ADDR}" pattern="^(?!138\.69\.183\.|138\.69\.160\.|10\.33\.197\.|172\.30\.202\.|10\.32\.69\.|10\.32\.70\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://www.bayareafastrak.org" redirectType="Found" />
                </rule>
		<rule name="csc_chat2" stopProcessing="true">
                    <match url="(.*)livechat.shtml(.*)" />
                    <conditions>
                        <add input="{REMOTE_ADDR}" pattern="^(?!138\.69\.183\.|138\.69\.160\.|10\.33\.197\.|172\.30\.202\.|10\.32\.69\.|10\.32\.70\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://www.bayareafastrak.org" redirectType="Found" />
                </rule>
		<rule name="csc_chat3" stopProcessing="true">
                    <match url="(.*)livechatinput.shtml(.*)" />
                    <conditions>
                        <add input="{REMOTE_ADDR}" pattern="^(?!138\.69\.183\.|138\.69\.160\.|10\.33\.197\.|172\.30\.202\.|10\.32\.69\.|10\.32\.70\.)(.*)$" />
                    </conditions>
                    <action type="Redirect" url="https://www.bayareafastrak.org" redirectType="Found" />
                </rule>
            </rules>
	    <outboundRules>
                <rule name="Remove Server Variable" enabled="true">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
                <rule name="Remove powered by Variable" enabled="true">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
                <rule name="Remove aspnet version Variable" enabled="true">
                    <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>
        <httpErrors>
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="https://www.bayareafastrak.org/en/support/unavailable.shtml" responseMode="Redirect" />
        </httpErrors>
	<staticContent>
            <mimeMap fileExtension=".woff" mimeType="APPLICATION/X-WOFF" />
        </staticContent>
	<httpProtocol>
            <customHeaders>
                <add name="X-Frame-Options" value="ALLOW-FROM https://www.bayareafastrak.org" />
            </customHeaders>
        </httpProtocol>
	<directoryBrowse enabled="false" />
    </system.webServer>
</configuration>
